/* index.html styling */
/* Color Pallete 
    #494742 : medium brown;
    #C3CED6 : very light grey
    #1E1D1C : dark grey
    #F1F6F5 : offwhite

*/
    /* Global Styles */
.bodyBackground {
    background: url(assets/images/wallpaperflare.com_wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

    /* navbar styling */
.navbar-custom{
    background-color: #494742;
}
/* targets hamburger icon */
.navbar-custom .navbar-toggler{
    background-color: #494742;
    border-color: #F1F6F5;
    color: #F1F6F5;
}
.navbar-custom .navbar-brand, .navbar-custom .nav-link {
    color: #F1F6F5;
}

.nav-link:hover{
    color: blue;
}
    /* Main content styles */
/* jumbotron styling */
.jumbotron{
    background-color: #b8b8b8;
    color: #1e1d1c;
}
.jumbotron h1{
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #494742;
    border-top: solid #7DAF52;
    text-align: center;
    color: #F1F6F5;
    
}

/* #828282 */