/* index.html styling */
/* Color Pallete 
    #494742 : medium brown;
    #b8b8b8 :  light grey
    #1E1D1C : dark grey
    #F1F6F5 : offwhite
    #F79459 : tangerine
    #86c351 : Light green
*/
    /* Global Styles */
.bodyBackground {
    background: url(assets/images/aboutMeBackground.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
/* end global styles */
    /* navbar styling */
.navbar-custom{
    background-color: #494742;
}
/* targets hamburger icon */
.navbar-custom .navbar-toggler{
    border-color: #F1F6F5;
    color: #F1F6F5;
}
/* changes the text color for the nav bar */
.navbar-custom .navbar-brand, .navbar-custom .nav-link {
    color: #F1F6F5;
}

.nav-link:hover{
    /* color: #EBC8A0; */
    color: #F79459;
}
/* this colors the text of the active page important overrides bootstrap */
.active{
    color: #86c351 !important;
}
/* end navbar styles */
    /* Main content styles */
/* jumbotron styling */
.jumbotron{
    background-color: #b8b8b8;
    color: #1e1d1c;
}
.jumbotron h1{
    text-align: center;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #494742;
    border-top: solid #86c351;
    color: #F1F6F5;
    /* text-align: center; */
}

footer a{
    color: #F1F6F5;
}
footer a:hover{
    color: #F79459;
}